* {
  margin: 0;
}

a, a:visited {
  text-decoration: none;
}

body {
  margin: 0;
}

#bigbox {
  /* position: absolute; */
}

#logo {
  position: relative;
  width: 150px;
  height: 150px;
  /* top: 10px; */
  left: 2%;
}

.innerBox {
  position: absolute;
  background-color: #EFFAFD;
  width: 900px;
  height: 600px;
  box-shadow: 0 0 30px grey;
  border-radius: 60px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.menuNavBar {
  list-style-type: none;
  position: absolute;
  top: 8%;
  right: 10%;
  font-family: 'Quicksand', sans-serif;
}

.menuNavBar > li {
  float:left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  background-color: #F5C257;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

li > a {
  color: black;
}